<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zzw.chatroom.dao.IMsgInfoDao">

    <insert id="insertAndGetId" parameterType="MsgInfo">
        insert into msg_info(user_id, content, `type`)
        values (#{userId},#{content},#{type})
    </insert>

    <select id="listRecentMsgOrderByCreateTimeDesc" resultType="MsgInfo">
        select *
        from msg_info
        order by create_time desc
        limit ${offset},${limit}
    </select>

</mapper>
























